body {
    margin: 0;
    background: rgb(10, 236, 142);

}
.container {
    margin: 50px 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;


}

.rowOne {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-weight: bold;
    font-family: Rubik Doodle Shadow;
    color: rgb(255, 255, 255);    

}

.rowTwo {
   display: flex;
   justify-content: center;
    font-size: 50px;  
    margin: 0;
}

img {
    height: 248px;
    width: 248px;
    border-radius: 125px;
    object-fit: cover;
    border-style: solid;
}

.selectionRow button::before {
    content: "";
    position: absolute;

    height: 248px;
    width: 248px;
    border-radius: 125px;
    object-fit: cover;
    border-style: solid;
    background-color: rgba(9, 209, 126, 0.74); /* Adjust the color and opacity */
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease; /* Transition for smooth effect */
}

/* Show overlay on hover */
.selectionRow button:hover::before {
    opacity: 1;
    


}
.selectionRow {
    margin: 55px 0px 60px 0px;
    display:flex;
    justify-content:center;
    column-gap: 300px;
    
 
}

.selectionRow button {
    margin: 55px 0px 60px 0px;
    display:flex;
    justify-content:center;
    column-gap: 300px;
    height: 248px;
    width: 248px;
    border-radius: 125px;
    object-fit: cover;
    border-style: solid;
    box-shadow: 10px 9px 10px rgb(3, 65, 39);;
    cursor: pointer;
    

}

.selectionRow button:hover {
    transition-duration: 0.5s;
    transform: scale(1.1) ;
    
}



.scoreRow {
    display: flex;
    justify-content: center;
    column-gap: 200px;
    margin: 0;
}

.scoreBox .name {
    margin-bottom: 0px;
    background-color: rgb(6, 133, 80) ;
    padding: 15px 40px 15px 40px;
    border-radius: 20px;
    font-size: 40px;
}

.compScore, .playerScore{
    margin-top: 10px;
    font-size: 100px;
    margin-bottom: 0px;
}
.scoreBox{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.result {
   text-align: center;
    margin-top: 0px;
    font-size: 70px; 
}

.result, .scoreBox .name,.compScore, .playerScore, .rowTwo {
    font-weight: bold;
    font-family: prompt;
    color: rgb(255, 255, 255);    
    
}